<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="alpha_5_robot_state_publisher_world">

  <xacro:arg name="description_package" default="ros2_control_blue_reach_5"/>
  <xacro:arg name="world_frame" default="world"/>

  <xacro:property name="description_package" value="$(arg description_package)"/>
  <xacro:property name="world_frame" value="$(arg world_frame)"/>

  <xacro:include filename="$(find ${description_package})/xacro/world.xacro"/>

  <!-- Environment/static world tree. Robot global base transforms are published by the vehicle interfaces. -->
  <xacro:sim_world world_frame="${world_frame}"/>

</robot>
